# Scrapping Data For Top 250 Movies

## Import Necessary Modules

In [1]:
import requests
import html5lib
from bs4 import BeautifulSoup
import pandas as pd

## Retrieving the HTML Response from IMDB Website

In [2]:
url="https://www.imdb.com/chart/top/"

In [3]:
response = requests.get(url)
status = response.status_code
if status == 200:
    print("Connection Established!")

Connection Established!

In [4]:
HTMLContent = response.content
# HTMLContent

## Parsing HTML Response or Creating The Soup

In [5]:
soup = BeautifulSoup(HTMLContent,'html.parser')
# print(soup.prettify)

## Extracting Data from soup

In [6]:
title=[]
rating=[]
num_of_user_ratings=[]
link=[]
image_url=[]

In [7]:
table_data = soup.find('tbody')
for row in table_data.children:
    if row.name != None:
        image_column= row.td
        image_url.append(image_column.img.get('src'))
        title_column = image_column.next_sibling.next_sibling
        title.append(title_column.a.string)
        link.append("https://www.imdb.com"+title_column.a.get('href'))
        rating_column = title_column.next_sibling.next_sibling
        num_of_user_ratings.append(rating_column.strong.get('title').split(" ")[3])
        rating.append(rating_column.strong.string)

In [8]:
# for i in range(len(title)):
#     print(title[i],rating[i],num_of_user_ratings[i],link[i],image_url[i])

## Inserting Data into a Pandas DataFrame

In [11]:
df=pd.DataFrame({"Title":title,"Rating":rating,"Number Of User Ratings":num_of_user_ratings,"Rating Page":link,"Image":image_url})
df

,Title,Rating,Number Of User Ratings,Rating Page,Image
0,The Shawshank Redemption,9.2,"2,285,530",https://www.imdb.com/title/tt0111161/,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,9.1,"1,577,662",https://www.imdb.com/title/tt0068646/,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Godfather: Part II,9.0,"1,102,273",https://www.imdb.com/title/tt0071562/,https://m.media-amazon.com/images/M/MV5BMWMwMG...
3,The Dark Knight,9.0,"2,250,238",https://www.imdb.com/title/tt0468569/,https://m.media-amazon.com/images/M/MV5BMTMxNT...
4,12 Angry Men,8.9,"671,080",https://www.imdb.com/title/tt0050083/,https://m.media-amazon.com/images/M/MV5BMWU4N2...
...,...,...,...,...,...
245,La battaglia di Algeri,8.0,"51,407",https://www.imdb.com/title/tt0058946/,https://m.media-amazon.com/images/M/MV5BZWEzMG...
246,Mandariinid,8.0,"37,687",https://www.imdb.com/title/tt2991224/,https://m.media-amazon.com/images/M/MV5BMTgwNz...
247,Aladdin,8.0,"365,211",https://www.imdb.com/title/tt0103639/,https://m.media-amazon.com/images/M/MV5BY2Q2ND...
248,Trois couleurs: Rouge,8.0,"88,149",https://www.imdb.com/title/tt0111495/,https://m.media-amazon.com/images/M/MV5BYTg1Mm...
249,A Wednesday,8.0,"72,756",https://www.imdb.com/title/tt1280558/,https://m.media-amazon.com/images/M/MV5BOTcwMz...

### I am planning to extract more data from rating page and display all this data on a django website...